ul {
    display: flex;
    flex-direction: column;

}

li {
    padding: 5px;
    width: 250px;
    max-width: 250px;
    max-height: 650px;
    list-style-type: none;
}

.card {
    
    padding: 1rem;
    width:600px;
    display: table;
    background-color:floralwhite;
    height: 100;
    box-shadow: 5px 5px 10px #ccc;
    align-items: center;
    content: "";
   

}

.card img {
    width: 25%;
    
  }

.column {
    float: left;
    width: 50%;

}